modules = ["web", "python-3.12", "nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["glibcLocales"]

[workflows]
runButton = "Run Flask App"

[[workflows.workflow]]
name = "Run Flask App"
author = 43719846
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd Gamified-Employability-Quotient-Analyzer- && python main.py"

[[ports]]
localPort = 5000
externalPort = 80
